@CHARSET "UTF-8";
body {
  margin: 0;
  background-color: #EEE;
  font-family: Arial, Helvetica, sans-serif, "微软雅黑", "宋体";
}

ul,ol {
  margin: 0;
}

#header {
  border-bottom: #09C solid 5px;
  background-color: #B7E0F2;
}

#header>.inner_wrap {
  height: 40px;
  margin: 0 auto;
  width: 1000px;
}

#header a {
  text-decoration: none;
}

#logo {
  height: 40px;
  margin: 0 10px;
  font-size: 26px;
  font-weight: bold;
  float: left;
}

#logo a {
  display: block;
  color: #036;
  text-shadow: #EEE 1px 1px;
  font-family: "黑体", "仿宋";
}

#logo img {
  height: 34px;
  padding: 3px;
  border: none;
  vertical-align: middle;
  margin-right: 10px;
}

#top_nav {
  margin-left: 190px;
  padding: 0;
  height: 45px;
  list-style: none;
}

#top_nav li {
  float: left;
  margin: 0 5px;
  border-bottom: #09C solid 5px;
}

#top_nav li a {
  color: #333;
  display: block;
  font-size: 20px;
  font-weight: bold;
  font-family: "新宋体", "宋体";
  height: 20px;
  padding: 10px;
}

#top_nav li.selected,#top_nav li:hover {
  border-bottom-color: #60B1DD;
}

#top_nav li.selected a {
  background-color: #CBE9F5;
  color: #666;
}

#body {
  min-height: 300px;
  width: 980px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 10px;
  border-left: #DDD solid 1px;
  border-right: #DDD solid 1px;
}

#sub_nav {
  list-style: none;
  padding: 10px 0;
  float: left;
  width: 90px;
  border-right: #CCC solid 4px;
  text-align: right;
}

#sub_nav li {
  margin: 5px 0;
  width: 90px;
  border-right: #CCC solid 4px;
  clear: both;
}

#sub_nav li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}

#sub_nav li.selected,#sub_nav li:hover {
  border-right-color: #999;
}

#sub_nav li.selected a {
  font-weight: bold;
}

#main {
  float: left;
  padding: 10px;
}

#copyright {
  clear: both;
  text-align: center;
  color: #999;
  font-size: 12px;
}

#copyright a {
  text-decoration: none;
  color: #666;
}

#copyright a:hover {
  text-decoration: underline;
}